@import 'tailwindcss';

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --background: #0a0a0a; /* always dark mode */
  --foreground: #ededed; /* always dark mode */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-brand: var(--font-bebas);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
  }

  /* Hide unnecessary elements when printing */
  .no-print {
    display: none !important;
  }
}
